@using Tesis004.Models
@{
    ViewBag.Title = "IngresoFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<h2>Factura</h2>

<!--Encabezado de factura-->
<br />
<div class="card bg-info text-white">
    <div id="encDatosCliente" class="card-header">
        <h5>Datos Cliente</h5>
    </div>
</div>
<br />
<div class="text-right">
    <div>
        @{
            var iFactura = ViewData["inicioNumFactura"] as List<Tesis004.Models.ParametroModel>;
            var fFactura = ViewData["finNumFactura"] as List<Tesis004.Models.ParametroModel>;
            var facturaId = ViewData["facturaId"];
        }
        <input id="iptFacturaID" name="iptFacturaID" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@facturaId" hidden />
        <input id="iptNumCliente" name="iptNumCliente" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" hidden />
        <p>
            <label>Factura</label>
            <br />
            <input id="iptNumeroFactura" name="iptNumeroFactura" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled value="@iFactura[0].Valor@fFactura[0].Valor" />
        </p>
        <p>
            <label>Fecha</label>
            <br />
            <input id="iptFechaFactura" name="iptFechaFactura" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <p>
            <label>Cliente</label>
            <br />
            <input id="iptClienteFactura" name="iptClienteFactura" list="sugerenciaCliente" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <datalist id="sugerenciaPaciente"></datalist>
            <label id="ValidacionClienteFactura" name="ValidacionClienteFactura"> </label>
        </p>
    </div>
    <div class="col-xl-6">
        <p>
            <label>RUC/C.I.</label>
            <br />
            <input id="iptClienteCI" name="iptClienteCI" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <label id="ValidacionClienteCedula" name="ValidacionClienteCedula"> </label>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <p>
            <label>Dirección</label>
            <br />
            <input id="iptClienteDireccion" name="iptClienteDireccion" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <label id="ValidacionClienteDireccion" name="ValidacionClienteDireccion"> </label>
        </p>
    </div>
    <div class="col-xl-6">
        <p>
            <label>Telefono</label>
            <br />
            <input id="iptClienteTelefono" name="iptClienteTelefono" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <label id="ValidacionClienteTelefono" name="ValidacionClienteTelefono"> </label>
        </p>
    </div>
</div>
<div class="text-center">
    <!--<button id="btnGuardarCliente" name="btnGuardarCliente" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" type="submit" onclick="agregarCliente()">GUARDAR</button>-->
    <button id="btnBuscarCliente" name="btnBuscarCliente" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">BUSCAR</button>
</div>
<br />

<!--Ingresar detalle-->
<br />
<div class="card bg-info text-white">
    <div id="encDetalleFactura" class="card-header">
        <h5>Detalles</h5>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xl-7">
        <p>
            <label>Detalle</label>
            <br />
            <input id="iptDetalleFactura" name="inpDetalleFactura" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <label id="ValidacionDetalleFactura" name="ValidacionDetalleFactura"> </label>
        </p>
    </div>
    <div class="col-xl-2">
        <p>
            <label>Cantidad</label>
            <br />
            <input id="iptCantidadProductoFactura" name="iptCantidadProductoFactura" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <label id="ValidacionCantidadProductoFactura" name="ValidacionCantidadProductoFactura"> </label>
        </p>
    </div>
    <div class="col-xl-2">
        <p>
            <label>Valor</label>
            <br />
            <input id="iptValorProductoFactura" name="iptValorProductoFactura" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <label id="ValidacionValorProductoFactura" name="ValidacionValorProductoFactura"> </label>
        </p>
    </div>
    <div class="col-xl-1">
        <p>
            <label>   </label>
            <br />
            <button id="btnAgregarDetalleFactura" name="btnAgregarDetalleFactura" title="agregar" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.4rem; width:40px; height:40px; cursor: pointer" type="submit">
                <i class="fa fa-plus-square"></i>
            </button>
        </p>

    </div>

</div>

<!--Detalles de factura-->
<div class="container">
    <div>
        <table id="TablaDetalleFactura" class="table">
        </table>
    </div>
</div>

<div class="row">
    <div claas="col-xl-3">
        <p>
            <label>Total </label>
        </p>
    </div>
    <div class="col-xl-3">
        <p>
            <input id="iptValorTotalFactura" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="0" disabled />
        </p>
    </div>
</div>

<div class="text-center">
    <br />
    <button id="btnImprimirFactura" name="btnImprimirFactura" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" type="submit" onclick="guardarPaciente()">IMPRIMIR</button>
</div>

<script src="~/Scripts/factura.js"></script>
<script src="~/Scripts/Validador.js"></script>