
@{
	ViewBag.Title = "RegistrarSignosVitales";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Ingreso Signos Vitales</h2>
<br />

<div class="text-right">
	<p><label>Nº Historia Clinica</label></p>
	<input style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" disabled />
</div>
<br />
<div class="row">
	<div class="col-xl-6">
		<p>
			<label>Nombre Completo</label>
			<br />
			<input class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Cedula</label>
			<br />
			<input style="text-align:left; border-radius:0.3rem; width:250px; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Fecha de Nacimiento</label>
			<br />
			<input type="date" style="text-align:left; border-radius:0.3rem; width:250px; height:40px;" disabled />
		</p>
	</div>
</div>


<br />
<div class="row">
	<input name="IdHistoriaClinica" hidden />
	<div class="col-md-3">
		<p>
			<label>Temperatura</label>
			<input name="Temperatura" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Preción Arterial</label>
			<input name="PrecionArterial" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>FR</label>
			<input name="Fr" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>FC</label>
			<input name="Fc" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
</div>
<div class="row">
		<div class="col-md-3">
			<p>
				<label>Peso</label>
				<input name="Peso" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<label>Talla</label>
				<input name="Talla" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
			</p>
		</div>
		<div class="col-md-3">
			<p>
				<label>Saturación</label>
				<input name="Talla" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
			</p>
		</div>
	</div>
	<br />

	<div class="row">
		<div class="col-xl-12">
			<p>
				<label>Observaciones Enfermeria</label>
				<br />
				<textarea name="ObservacionesEnfermeria" class="col-xl required number" type="text" rows="2" style="text-align:left; border-radius:0.3rem; width:100%; height:100%;"></textarea>
			</p>
		</div>
	</div>

	<div class="text-center">
		<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" type="submit" onclick="validarFormularioSimple()">GUARDAR</button>
	</div>




