
@{
	ViewBag.Title = "HistoricoSignosVitales";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<h2>Historia Clinica</h2>

<div class="card bg-info text-white">
	<div class="card-header">
		Historico Signos Vitales
	</div>
</div>

<div class="table-responsive">
	<br />
	<table class="table">
		<tr>
			<th scope="col">Fecha</th>
			<th scope="col">Temperatura</th>
			<th scope="col">Preción Arterial</th>
			<th scope="col">FR</th>
			<th scope="col">FC</th>
			<th scope="col">Peso</th>
			<th scope="col">Talla</th>
			<th scope="col">Saturación</th>
			<th scope="col">IMC</th>
			<th scope="col">Observación</th>
		</tr>
		<tr>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAA</td>
			<td scope="col">AAAAAAAAAAAAAAAAAAAAAAAA</td>
		</tr>
	</table>
</div>

<div class="text-center">
	<br />	
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" type="submit">REGRESAR</button>
</div>