
@{
	ViewBag.Title = "MostrarFichaMedica";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MostrarFichaMedica</h2>

<!--Creacion de seccion de revicion de signos vitales-->
<div class="card bg-info text-white">
	<div class="card-header">
		SIGNOS VITALES
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-3">
		<p>
			<label>Peso (kg)</label>
			<input id="Peso" name="Peso" class="col-sm required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Talla (cm)</label>
			<input id="Talla" name="Talla" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Presion Arterial</label>
			<input id="PA" name="PA" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Temperatura</label>
			<input id="Temperatura" name="Temperatura" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>FC</label>
			<input id="FC" name="FC" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>FR</label>
			<input id="FR" name="FR" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>IMC</label>
			<input id="IMC" name="IMC" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Saturacion</label>
			<input id="Saturacion" name="Saturacion" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
</div>
<div class="row">
	<div class="col-xl-12">
		<p>
			<label>Observaciones Enfermeria</label>
			<br />
			<textarea id="ObservacionesEnfermeria" class="col-xl required number" type="text" rows="2" style="text-align:left; border-radius:0.3rem; width:100%; height:100%;" disabled></textarea>
		</p>
	</div>
</div>
<br />
<!--Creacion de seccion de ingreso de datos de consulta-->
<div class="card bg-info text-white">
	<div class="card-header">
		DATOS DE CONSULTA
	</div>
</div>
<input id="ConsultaMedicaID" value="@ViewData["citaMedica"]" hidden />
<br />
<div class="row">
	<div class="col-xl-3">
		<label>Tipo de consulta:</label>
	</div>
	<div class="col-xl-3">
		<input id="tipoConsulta" name="tipoConsulta" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled/>
	</div>
</div>
<div class="row">
	<div class="col-xl-3">
		<label>Motivo de consulta</label>
	</div>
	<br />
	<div class="col-xl-12">
		<textarea id="motivoConsulta" name="motivoConsulta" class="col-xl required number" type="text" rows="3" style="text-align:left; border-radius:0.3rem; width:100%; height:100%;" disabled></textarea>
	</div>
</div>
<br />
<!--Creacion de seccion de ingreso de subjetivo-->
<div class="card bg-info text-white">
	<div class="card-header">
		SUBJETIVOS (REVISIÓN ACTUAL DE ORGANOS Y SISTEMAS)
	</div>
</div>
<br />
<div class="row">
	<div class="table-responsive">
		<br />
		<table id="tblSubjetivo" class="table"></table>
	</div>
</div>
<br />
<!--Creacion de seccion de ingreso de objetivo-->
<div class="card bg-info text-white">
	<div class="card-header">
		OBJETIVO (EXAMEN FISICO REGIONAL SISTEMATICO)
	</div>
</div>
<br />
<div class="row">
	<div class="table-responsive">
		<br />
		<table id="tblObjetivo" class="table"></table>
	</div>
</div>
<br />
<!--Creacion de seccion de ingreso de analisis del paciente-->
<div class="card bg-info text-white">
	<div class="card-header">
		ANÁLISIS
	</div>
</div>
<br />
<div class="row">
	<div class="col-xl-8">
		<label>Descripción</label>
	</div>
	<div class="col-xl-12">
		<textarea id="descripcionAnalisis" name="descripcionAnalisis" class="col-xl required number" type="text" rows="3" style="text-align:left; border-radius:0.3rem; width:100%; height:100%;" disabled></textarea>
	</div>
</div>
<br />
<!--Creacion de seccion de ingreso del plan para el paciente-->
<div class="card bg-info text-white">
	<div class="card-header">
		PLAN
	</div>
</div>
<br />
<div class="row">
	<div class="col-xl-8">
		<label>Descripción</label>
	</div>
	<div class="col-xl-12">
		<textarea id="descripcionPlan" name="descripcionPlan" class="col-xl required number" type="text" rows="3" style="text-align:left; border-radius:0.3rem; width:100%; height:100%;" disabled></textarea>
	</div>
</div>
<br />
<!--Creacion de seccion de ingreso de diagnostico-->
<div class="card bg-info text-white">
	<div class="card-header">
		DIAGNOSTICO
	</div>
</div>
<br />
<div class="table-responsive">
	<br />
	<table class="table" id="tblDiagnostico"></table>
</div>
<!--Creacion de seccion de ingreso de receta-->
<button data-toggle="collapse" data-target="#receta" name="Identificador" title="Ingresar medicamentos recetados" class="btn btn-info col-xl-12" style="text-align:left" border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:100%; height:30px; cursor: pointer" type="submit">
	RECETA 	<i class="fas fa-chevron-circle-down" style="text-align:right"></i>
</button>
<div id="receta" class="collapse">
	<br />
	<div class="row">
		<div class="col-xl-10">
			<label>Receta</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-12">
			<br />
			<textarea id="txtReceta" name="txtReceta" class="col-xl required number" type="text" rows="5" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled></textarea>
			<br />
		</div>
	</div>
</div>
<br />
<!--Creacion de seccion de ingreso de procedimientos-->
<button data-toggle="collapse" data-target="#procedimiento" name="Identificador" title="Ingresar procedimientos realizados al paciente" class="btn btn-info col-xl-12" style="text-align:left" border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:100%; height:30px; cursor: pointer" type="submit">
	PROCEDIMIENTO 	<i class="fas fa-chevron-circle-down" style="text-align:right"></i>
</button>
<br />
<div id="procedimiento" class="collapse">
	<br />
	<div class="table-responsive">
		<br />
		<table id="tblProcedimiento" class="table"></table>
	</div>
</div>

<div class="text-center">
	<br />
	<button id="btnCerrarVentana" name="btnCerrarVentana" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="window.close();">CERRAR</button>
</div>

<script src="~/Scripts/ficha-medica.js"></script>