
@{
	ViewBag.Title = "BuscarPaciente";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<p><h2>Buscar Paciente</h2></p>

<div class="row">
    <div class="col-xl-2">
        <p>
            <input id="SltNombrePaciente" name="tipoParametro" type="radio" value="Nombre" /> Nombre
        </p>
    </div>
    <div class="col-xl-2">
        <p>
            <input id="SltCedulaPaciente" name="tipoParametro" type="radio" value="Cedula" /> Cedula
        </p>
    </div>
    <div class="col-xl-2">
        <p>
            <input id="SltHistoriaClinicaPaciente" name="tipoParametro" type="radio" value="HCPaciente" /> Nº Historia Clinica
        </p>
    </div>
    <div class="col-xl-2">
        <p>
            <input id="SltUltimoPaciente" name="tipoParametro" type="radio" value="Ultimo" /> Ultimos
        </p>
    </div>
</div>

<div class="row">
	<div class="col-xl-6">
		<input id="parametroBusqueda" name="parametroBusqueda" list="sugerenciaPaciente" class="col-xl" style=" text-transform: uppercase;text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
	</div>

    <datalist id="sugerenciaPaciente">
    </datalist>

	<div class="col-xl-3">
		<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="buscarPaciente()">BUSCAR</button>
	</div>
</div>
<br />
<table id="tblResultadoBusqueda" class="table">
	<tr>
		<th scope="col">Paciente</th>
		<th scope="col">Historia Cl&iacute;nica</th>
		<th scope="col">C&eacute;dula</th>
		<th scope="col">Modificar</th>
		<th scope="col">Nueva Cita</th>
	</tr>
</table>


<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Paciente/IngresarPaciente'">NUEVO PACIENTE</button>
</div>

<script src="~/Scripts/paciente.js"></script>
