
@{
	ViewBag.Title = "BuscarPaciente";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<p><h2 style="text-align:center">Buscar Paciente</h2></p>

<div class="row">
	<div class="col-xl-2">
		<p>
			<input id="SltNombrePaciente" name="tipoParametro" type="radio" value="Nombre" /> Nombre
		</p>
	</div>
	<div class="col-xl-2">
		<p>
			<input id="SltCedulaPaciente" name="tipoParametro" type="radio" value="Cedula" /> Cedula
		</p>
	</div>
	<div class="col-xl-2">
		<p>
			<input id="SltHistoriaClinicaPaciente" name="tipoParametro" type="radio" value="HCPaciente" /> Nº Historia Clinica
		</p>
	</div>
</div>

<div class="row">
	<div class="col-xl-6">
		<input id="parametroBusqueda" name="parametroBusqueda" list="sugerenciaPaciente" class="col-xl" style=" text-transform: uppercase;text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
	</div>

    <datalist id="sugerenciaPaciente">
    </datalist>

	<div class="col-xl-3">
		<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="buscarPaciente()">BUSCAR</button>
	</div>
</div>
<br />
<table id="tblResultadoBusqueda" class="table">
	<tr>
		<th scope="col">Paciente</th>
		<th scope="col">Historia Cl&iacute;nica</th>
		<th scope="col">C&eacute;dula</th>
		<th scope="col"></th>
		<th scope="col"></th>
	</tr>
	<tr>
		<td scope="col">PACIENTE 1</td>
		<td scope="col">0000001</td>
		<td scope="col">1234567890</td>
		<td scope="col">
			<form action="ActualizarPaciente" method="post">
				<button name="Identificador" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:30px; cursor: pointer" type="submit">
					<i class="fas fa-eye"></i>
				</button>
			</form>
		</td>
		<td scope="col">
			<form action="ActualizarPaciente" method="post">
				<button name="Identificador" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:30px; cursor: pointer" type="submit">
					<i class="fas fa-edit"></i>
				</button>
			</form>
		</td>
	</tr>
</table>


<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Paciente/IngresarPaciente'">NUEVO PACIENTE</button>
</div>

<script src="~/Scripts/paciente.js"></script>
