
@{
	ViewBag.Title = "Ingreso";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-6">
		<img src="~/imagenes/logovacari.jpg" style="border-radius:0.3rem;" />
	</div>
	<div class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
		<h1>Centro de Especialdides Medicas</h1>
		<h1>"VACARI"</h1>
		<h2>Cuidamos tu salud.</h2>
		<form action="Ingresar" method="post">
			<p><input name="usuario" style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" placeholder=" Usuario" /></p>
			<p><input name="contrasena" type="password" style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" placeholder=" Contraseña" /></p>
			<p><button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" type="submit">Ingresar</button></p>
		</form>
	</div>
</div>
