
@{
    ViewBag.Title = "Presentacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-6">
		<img src="~/imagenes/logovacari.jpg" style="border-radius:0.3rem;" />
	</div>
	<div class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
		<h1>Centro de Especialdides Medicas</h1>
		<h1>"VACARI"</h1>
		<h2>Bienvenido  @Session["nombreUsuario"] lindo día.</h2>
	</div>
</div>
