
@{
	ViewBag.Title = "GestionContabilidad";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Link para uso de iconos-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<h2>Contabilidad</h2>

<div class="container">
	<br>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#ingresos">Ingresos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#egresos">Egresos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#informecontable">Informes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#pagomedico">Pagos Medicos</a>
		</li>
	</ul>

	<div class="tab-content">
		<!--Seccion de ingreso de ingresos-->
		<div id="ingresos" class="container tab-pane active">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					INGRESOS
				</div>
			</div>
			<br />
			<div class="text-right">
				<div>
					<p>
						<label class="text-left">Fecha</label>
						<br />
						<input id="iptFechaIngreso" name="iptFechaIngreso" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4">
					<label>Servicio</label>
					<input id="IptIngresoServicio" name="IptIngresoServicio" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionIngresoServicio" name="ValidacionIngresoServicio"> </label>
				</div>
				<div class="col-xl-5">
					<label>Detalle</label>
					<input id="IptIngresoDetalle" name="IptIngresoDetalle" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionIngresoDetalle" name="ValidacionIngresoDetalle"> </label>
				</div>
				<div class="col-xl-2">
					<label>Valor</label>
					<input id="IptIngresoMonto" name="IptIngresoMonto" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionIngresoMonto" name="ValidacionIngresoMonto"> </label>
				</div>
				<div class="col-xl-1">
					<br />
					<button id="btnAgregarIngreso" name="btnAgregarIngreso" title="Ingresar nuevo ingreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit" onclick="agregarIngreso()">
						<i class="fas fa-plus-square"></i>
					</button>
				</div>
			</div>
			<br />
			<div>
				<table id="tblIngresos" class="table">
				</table>
			</div>
			<br />
		</div>
		<!--Seccion de ingresos de los egresos-->
		<div id="egresos" class="container tab-pane fade">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					EGRESOS
				</div>
			</div>
			<br />
			<div class="text-right">
				<div>
					<p>
						<label class="text-left">Fecha</label>
						<br />
						<input id="iptFechaEgreso" name="iptFechaEgreso" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4">
					<label>Servicio</label>
					<input id="iptEgresoServicio" name="iptEgresoServicio" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionEgresoServicio" name="ValidacionEgresoServicio"> </label>
				</div>
				<div class="col-xl-5">
					<label>Detalle</label>
					<input id="iptEgresoDetalle" name="iptEgresoDetalle" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionEgresoDetalle" name="ValidacionEgresoDetalle"> </label>
				</div>
				<div class="col-xl-2">
					<label>Monto</label>
					<input id="iptEgresoMonto" name="iptEgresoMonto" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionEgresoMonto" name="ValidacionEgresoMonto"> </label>
				</div>
				<div class="col-xl-1">
					<br />
					<button id="btnAgregarEgreso" name="btnAgregarEgreso" title="Ingresar nuevo egreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit" onclick="AgregarEgreso()">
						<i class="fas fa-plus-square"></i>
					</button>
				</div>
			</div>
			<br />
			<div>
				<table id="tblEgresos" class="table">
					<tr>
						<th scope="col">Provedor</th>
						<th scope="col">Detalle</th>
						<th scope="col">Egreso</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</table>
			</div>
			<br />
		</div>

		<!--Seccion de informe de ingresos y egresos-->

		<div id="informecontable" class="container tab-pane fade">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					INFORME I/E
				</div>
			</div>
			<br />
			<div class="row">
				<div class=" col-md-3">
					<label>Fecha Inicio</label>
					<input id="iptFechaInicio" name="iptFechaInicio" type="date" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionFechaInicio" name="ValidacionFechaInicio"> </label>
				</div>
				<div class=" col-md-3">
					<label>Fecha Fin</label>
					<input id="iptFechaFin" name="iptFechaFin" class="col-xl" type="date" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionFechaFin" name="ValidacionFechaFin"> </label>
				</div>
				<div class=" col-md-3">
					<label>Tipo</label>
					<div class="container">
						<div class="form-check-inline">
							<label class="form-check-label" for="radio1">
								<input type="radio" id="rdIngreso" class="form-check-input" name="detalleinforme" value="ingreso">Ingresos
							</label>
						</div>
						<div class="form-check-inline">
							<label class="form-check-label" for="radio2">
								<input type="radio" id="rdEgreso" class="form-check-input" name="detalleinforme" value="egreso">Egresos
							</label>
						</div>
					</div>
					<label id="ValidacionInformeIE" name="ValidacionInformeIE"> </label>
				</div>
				<div class="col-md-3">
					<label> </label>
					<br />
					<button id="btnConsultarInforme" name="btnConsultarInforme" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="Informe()">CONSULTAR</button>
				</div>
			</div>
			
			<br />
			<div>
				<table id="tblInforme" class="table">
					<tr>
						<th scope="col">Fechas</th>
						<th scope="col">Servicio</th>
						<th scope="col">Detalle</th>
						<th scope="col">Monto</th>
					</tr>
				</table>
			</div>
		</div>

		<!--Seccion de pago a medicos-->

		<div id="pagomedico" class="container tab-pane fade">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					PAGO PERSONAL
				</div>
			</div>
			<br />
			<div class="table-responsive">
				<table id="tblPagoPersonal" name="tblPagoPersonal" class="table">
					<tr>
						<th scope="col">Personal</th>
						<th scope="col">Citas</th>
						<th scope="col">Otras</th>
						<th scope="col">Total</th>
					</tr>
					<tr>
						<td scope="col">AMPARITO CORDOVA</td>
						<td scope="col">30</td>
						<td scope="col">10</td>
						<td scope="col">40</td>
					</tr>
					<tr>
						<td scope="col">DANIELA AGUILAR</td>
						<td scope="col">24</td>>
						<td scope="col">0</td>
						<td scope="col">24</td>
					</tr>
					<tr>
						<td scope="col">FERNANDO GALINDO</td>
						<td scope="col">18</td>
						<td scope="col">12</td>
						<td scope="col">30</td>
					</tr>
				</table>
			</div>
			<br />
			<div>
				<label>Total</label>
				<input style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" value="94" disabled/>
			</div>

		</div>
	</div>

</div>

<script src="~/Scripts/validador.js"></script>
<script src="~/Scripts/contabilidad.js"></script>