
@{
	ViewBag.Title = "GestionContabilidad";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Link para uso de iconos-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<h2>Contabilidad</h2>

<div class="container">
	<br>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#ingresos">Ingresos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#egresos">Egresos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#informecontable">Informes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#pagomedico">Pagos Medicos</a>
		</li>
	</ul>

	<div class="tab-content">
		<!--Seccion de ingreso de ingresos-->
		<div id="ingresos" class="container tab-pane active">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					INGRESOS
				</div>
			</div>
			<br />
			<div class="text-right">
				<div>
					<p>
						<label class="text-left">Fecha</label>
						<br />
						<input id="iptFechaIngreso" name="iptFechaIngreso" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4">
					<label>Servicio</label>
					<input id="IptIngresoServicio" name="IptIngresoServicio" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionIngresoServicio" name="ValidacionIngresoServicio"> </label>
				</div>
				<div class="col-xl-5">
					<label>Detalle</label>
					<input id="IptIngresoDetalle" name="IptIngresoDetalle" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionIngresoDetalle" name="ValidacionIngresoDetalle"> </label>
				</div>
				<div class="col-xl-2">
					<label>Valor</label>
					<input id="IptIngresoMonto" name="IptIngresoMonto" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionIngresoMonto" name="ValidacionIngresoMonto"> </label>
				</div>
				<div class="col-xl-1">
					<br />
					<button id="btnAgregarIngreso" name="btnAgregarIngreso" title="Ingresar nuevo ingreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
						<i class="fas fa-plus-square"></i>
					</button>
				</div>
			</div>
			<br />
			<div>
				<table class="table">
					<tr>
						<th scope="col">Servicio</th>
						<th scope="col">Detalle</th>
						<th scope="col">Egreso</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					<tr>
						<td scope="col">JUAN DAVID MOLINA PEREZ</td>
						<td scope="col">AAA</td>
						<td scope="col">99</td>
						<td scope="col">
							<button name="Identificador" title="Modificar ingreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
								<i class="fa fa-edit"></i>
							</button>
						</td>
						<td scope="col">
							<button id="btnEliminarIngreso" name="btnEliminarIngreso" title="Eliminar ingreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
								<i class="fas fa-trash-alt"></i>
							</button>
						</td>
				</table>
			</div>
			<br />
		</div>
		<!--Seccion de ingresos de los egresos-->
		<div id="egresos" class="container tab-pane fade">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					EGRESOS
				</div>
			</div>
			<br />
			<div class="text-right">
				<div>
					<p>
						<label class="text-left">Fecha</label>
						<br />
						<input id="iptFechaEgreso" name="iptFechaEgreso" class="col-xl-3 required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4">
					<label>Servicio</label>
					<input id="iptEgresoServicio" name="intEgresoServicio" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionEgresoServicio" name="ValidacionEgresoServicio"> </label>
				</div>
				<div class="col-xl-5">
					<label>Detalle</label>
					<input id="iptEgresoDetalle" name="iptEgresoDetalle" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionEgresoDetalle" name="ValidacionEgresoDetalle"> </label>
				</div>
				<div class="col-xl-2">
					<label>Monto</label>
					<input id="iptEgresoMonto" name="iptEgresoMonto" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
					<label id="ValidacionEgresoMonto" name="ValidacionEgresoMonto"> </label>
				</div>
				<div class="col-xl-1">
					<br />
					<button id="btnAgregarEgreso" name="btnAgregarEgreso" title="Ingresar nuevo egreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
						<i class="fas fa-plus-square"></i>
					</button>
				</div>
			</div>
			<br />
			<div>
				<table class="table">
					<tr>
						<th scope="col">Provedor</th>
						<th scope="col">Detalle</th>
						<th scope="col">Egreso</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					<tr>
						<td scope="col">JUAN DAVID MOLINA PEREZ</td>
						<td scope="col">AAA</td>
						<td scope="col">99</td>
						<td scope="col">
							<button name="Identificador" title="Modificar egreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
								<i class="fa fa-edit"></i>
							</button>
						</td>
						<td scope="col">
							<button name="Identificador" title="Eliminar egreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
								<i class="fas fa-trash-alt"></i>
							</button>
						</td>
				</table>
			</div>
			<br />
		</div>

		<!--Seccion de informe de ingresos y egresos-->

		<div id="informecontable" class="container tab-pane fade">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					INFORME I/E
				</div>
			</div>
			<br />
			<div class="row">
				<div class=" col-md-6">
					<div class="container">
						<div class="form-check-inline">
							<label class="form-check-label" for="radio1">
								<input type="radio" id="radio1" class="form-check-input" name="tipoinforme" value="diario">Diario
							</label>
						</div>
						<div class="form-check-inline">
							<label class="form-check-label" for="radio2">
								<input type="radio" id="radio2" class="form-check-input" name="tipoinforme" value="mensual">Mensual
							</label>
						</div>
						<div class="form-check-inline">
							<label class="form-check-label" for="radio3">
								<input type="radio" id="radio3" class="form-check-input" name="tipoinforme" value="anual">Anual
							</label>
						</div>
					</div>
				</div>
				<div class=" col-md-6">
					<div class="container">
						<div class="form-check-inline">
							<label class="form-check-label" for="radio1">
								<input type="radio" id="radio1" class="form-check-input" name="detalleinforme" value="ingresos">Ingresos
							</label>
						</div>
						<div class="form-check-inline">
							<label class="form-check-label" for="radio2">
								<input type="radio" id="radio2" class="form-check-input" name="detalleinforme" value="egresos">Egresos
							</label>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div>
				<table class="table">
					<tr>
						<th scope="col">Fechas</th>
						<th scope="col">Provedor</th>
						<th scope="col">Detalle</th>
						<th scope="col">Monto</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					<tr>
						<td scope="col">01/01/1999</td>
						<td scope="col">JUAN DAVID MOLINA PEREZ</td>
						<td scope="col">AAA</td>
						<td scope="col">99</td>
						<td scope="col">
							<button name="Identificador" title="Modificar egreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
								<i class="fa fa-edit"></i>
							</button>
						</td>
						<td scope="col">
							<button name="Identificador" title="Eliminar egreso" style="align-content:center; background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:35px; height:35px; cursor: pointer" type="submit">
								<i class="fas fa-trash-alt"></i>
							</button>
						</td>
				</table>
			</div>
		</div>

		<!--Seccion de pago a medicos-->

		<div id="pagomedico" class="container tab-pane fade">
			<br />
			<div class="card bg-info text-white">
				<div class="card-header">
					PAGO PERSONAL
				</div>
			</div>
			<br />
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th scope="col">Personal</th>
						<th scope="col">Citas</th>
						<th scope="col">Procedimientos</th>
						<th scope="col">Otras</th>
						<th scope="col">Total</th>
					</tr>
					<tr>
						<td scope="col">JUAN DAVID MOLINA PEREZ</td>
						<td scope="col">10</td>
						<td scope="col">10</td>
						<td scope="col">10</td>
						<td scope="col">30</td>
					</tr>
				</table>
			</div>
			<br />
			<div>
				<label>Total</label>
				<input style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" />
			</div>

		</div>
	</div>

</div>

<script src="~/Scripts/validador.js"></script>