
@{
	ViewBag.Title = "ListarCita";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<h2>Citas Médicas</h2>

<br />
<div class="table-responsive">
	<table class="table" id="tblCita">
		
	</table>
</div>
<br />
<div class="text-center">
	<button id="btnNuevaCita" name="btnNuevaCita" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Paciente/BuscarPaciente'" hidden>NUEVA</button>
</div>

<script src="~/Scripts/servicio-cita.js"></script>
