
@{
	ViewBag.Title = "MostrarResultadoExamenMedico";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados de Examenes Medicos</h2>
<br />
<div class="row">
	<div class="col-xl-6">
		<p>
			<label>Nombre Completo</label>
			<br />
			<input class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Cedula</label>
			<br />
			<input style="text-align:left; border-radius:0.3rem; width:250px; height:40px;" disabled />
		</p>
	</div>
	<div class="col-md-3">
		<p>
			<label>Nº Pedido de Examen</label>
			<br />
			<input style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" disabled />
	</div>
</div>
<br />
<div class="table-responsive">
	<table class="table">
		<tr>
			<th scope="col">Fecha</th>
			<th scope="col">Examen</th>
			<th scope="col">Resultado</th>
			<th scope="col">Parametro</th>
		</tr>
		<tr>
			<td>99</td>
			<td>99</td>
			<td>99</td>
			<td>99</td>
		</tr>
	</table>
</div>
<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Regresar</button>
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Imprimir</button>
</div>
