
@{
	ViewBag.Title = "MostrarResultadoExamenMedico";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados de Examenes Medicos</h2>
<br />
<div class="table-responsive">
	<table class="table">
		<tr>
			<th scope="col">Fecha</th>
			<th scope="col">Examen</th>
			<th scope="col">Resultado</th>
			<th scope="col">Parametro</th>
		</tr>
		<tr>
			<td>99</td>
			<td>99</td>
			<td>99</td>
			<td>99</td>
		</tr>
	</table>
</div>
<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Regresar</button>
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Imprimir</button>
</div>
